@import url("https://fonts.googleapis.com/css2?family=Imbue&family=Patrick+Hand+SC&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Roboto+Mono&display=swap");

:root {
  --ff-body: "Roboto", sans-serif;
  --ff-title: "Inter", sans-serif;
  --fc-light: #8892b0;
  --fc-dark: #4d4d4d;
  --bg-light: #ffffff;
  --bg-dark_primary: #0a192f;
  --bg-dark_secondary: #112240;
  --accent: #64ffda;
  --fs-h1: clamp(30px, 4vw, 45px);
  --fs-h2: 1.75em;
  --fs-h3: 1.5em;
  --fs-h4: 1.2em;
  --fs-body: 1.15em;
  --fs-body_small: 18px;
  --fs-small: 0.8125em;
  --padding: 0.5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-body);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--bg-dark_primary);
  color: var(--fc-light);
  font-size: var(--fs-body);
  position: relative;
}

hr {
  border-radius: 50%;
  margin: 2em auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

p {
  font-size: var(--fs-body);
  line-height: 1.5em;
  font-size: 20px;
}

a {
  display: inline-blesock;
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: var(--fc-light);
}

ul {
  list-style: none;
}

main,
footer {
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.section-title {
  margin: 1rem 0;
  color: var(--accent);
}

.sec-intro {
  line-height: 1.5em;
  font-weight: 300;
  padding: 1em 0 0;
}

.sub-title {
  padding: 0m;
}

.flex {
  display: flex;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    Header     <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1001;
}

.header {
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: var(--bg-dark_primary);
}

/* Menu button */

.menu-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: fixed;
  z-index: 111;
  margin-left: 15px;
}

.menu-btn-line {
  width: 25px;
  height: 3px;
  display: block;
  background-color: var(--accent);
  transition: all 0.5s ease-in-out;
}

.menu-btn-line::before,
.menu-btn-line::after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: var(--accent);
  transition: all 0.5s ease-in-out;
}

.menu-btn-line::before {
  transform: translateY(-7px);
}

.menu-btn-line::after {
  transform: translateY(7px);
}

.menu-btn.open .menu-btn-line {
  transform: translateX(-50px);
  background-color: transparent;
}

.menu-btn.open .menu-btn-line::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-line::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.nav {
  padding: 1rem 0;
  position: relative;
}

.nav-link {
  padding: 0 var(--padding);
  font-size: var(--fs-body_small);
  font-family: "Roboto Mono", monospace;
  color: var(--fc-light);
  border-right: 2px solid var(--accent);
  position: relative;
}

.nav-link_first {
  margin-left: -10px;
}

.nav-link_last {
  border-right: none;
}

.social-Icons {
  padding: var(--padding);
  z-index: 99;
}

.social-link {
  padding-left: var(--padding);
}

.social-link:hover,
.nav-link:hover {
  color: var(--accent);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  Main Content <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-box;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /*height: 80vh;*/
}

.avatar {
  width: 150px;
  height: 150px;
  border: 4px solid #eeeeee;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(0px);
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
  margin-bottom: 1.5rem;
}

.avatar img {
  width: 100%;
  height: auto;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>     image animation      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(2, 255, 200, 0.3);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(2, 255, 200, 0.1);
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(2, 255, 200, 0.3);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(2, 255, 200, 0.3);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(2, 255, 200, 0.1);
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(2, 255, 200, 0.3);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   Home   <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.main {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 5%;
}

.main-title {
  font-family: var(--ff-title);
  color: #ccd6f6;
  font-size: 50px;
  font-weight: 300;
}

.main-title-secondary {
  color: #8892b0;
  font-size: 30px;
  margin-top: 1rem;
}

.body-txt-top {
  color: var(--accent);
}
.body-txt {
  line-height: 1.5em;
  margin: 1em 0;
  color: #8892b0;
}

.cnt-btn,
.merit {
  color: var(--accent);
}

.cnt-btn {
  padding: 10px;
  border: 1px solid var(--accent);
  border-radius: 5px;
  font-size: 14px;
}

.cnt-btn:hover {
  background-color: rgba(100, 255, 218, 0.2);
}
.merit:hover {
  border-bottom: 2px solid var(--accent);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> About  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.about-para {
  margin: 1em 0;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>     Skills    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.skill-container {
  justify-content: space-between;
  margin: 1em 0;
}

.skill {
  max-width: 32%;
  flex: 1;
  text-align: center;
  padding: var(padding);
  border: 1px solid var(--fc-light);
  border-radius: 5px;
}

.skills-flex-container {
  margin: 0 2em;
}

.skill p {
  font-size: var(--fs-body_small);
  padding: 0.5em;
}

.fa-skills {
  font-size: 3.5em;
  padding-top: 0.5rem;
  color: var(--accent);
}

.far-skills {
  color: var(--accent);
  margin-right: 5px;
}

.skills h3 {
  font-size: var(--fs-h4);
  line-height: 2em;
  margin: 1em 0 0;
}

.sub-title {
  font-size: 1.2rem;
}

.tools-container {
  display: flex;
  margin: 1rem 0;
}

.tools-container p {
  font-size: var(--fs-body_small);
  display: inline;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    Projects    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<, */

.projects-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1em 0;
  flex-wrap: wrap;
}

.project {
  width: 31%;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--bg-dark_secondary);
  box-shadow: 0 2px 2px hsl(223, 15%, 12%);
  transition: 0.1s all ease-in-out;
  margin: 0 0 1em;
  padding-bottom: 1em;
}

.project:hover{
  scale: 1.2;
}
.project-link-box{
  display: flex;
  padding: 12px;
}

.project:hover {
  box-shadow: 0 4px 8px hsl(223, 15%, 12%);
}

.project-img_container {
  width: 100%;
  padding-bottom: 55%;
  height: 0;
  overflow: hidden;
}

.project-links{
  display: flex;
  padding: 10px;
}

.lnk3{
 padding: 0 10px;
 font-size: 30px;
 color: var(--accent);
}

.lnk4{
  padding: 0 5px;
  margin-left: auto;
}

.lnk4:hover{
  color: var(--accent);
}

.project-img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.project-img:hover {
  transform: scale(1.1);
  opacity: 0.5;
  transition: 500ms ease-in-out;
}

.project-title {
  padding: 12px 18px;
}

.project-description {
  margin-top: 6px;
  margin-bottom: 12px;
  font-size: 22px;
  color: #a8b2d1;
}

.project-summary {
  overflow: hidden;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0.75em;
}

.langs{
  font-size: 14px;
  padding: 20px;
  font-family: monospace;
  color: #8892b0;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>       Testimonials   <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.tst1 {
  display: flex;
}
.tst2 {
  display: flex;
  flex-direction: row-reverse;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-img {
  margin: 0 1em 0.5em;
  border: 5px solid var(--accent);
  width: 150px;
  border-radius: 50%;
}

.test-para{
  text-align: justify;
  padding: 10px;
}

.q1 {
  margin: 0 10px;
  font-size: 30px;
  color: var(--accent);
}

.lnk1{
  font-size: 12px;
  margin: 0 6px;
  color: var(--accent);
}

.lnk2{
  margin-right: 10px;
}

.lnk2:hover{
  color: var(--accent);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    Contact-Form     <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.form-container {
  flex-direction: row;
  justify-content: space-between;
}

.form-div {
  max-width: 1000px;
}

.sec-title {
  padding: 1rem 0;
}

.feedback-input {
  color: var(--fc-light);
  font-weight: 300;
  font-size: 14px;
  border-radius: 0;
  line-height: 22px;
  background-color: var(--bg-dark_secondary);
  padding: 1rem;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid transparent;
}

.feedback-input:focus {
  background: hsl(223, 17%, 25%);
  box-shadow: 0;
  color: var(--fc-light);
  outline: none;
  padding: 13px 13px 13px 13px;
}

.focused {
  color: var(--fc-light);
  border: var(--accent) solid 2px;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: hsl(223, 18%, 26%);
}

.submit-btn {
  border: 1px solid var(--accent);
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--bg-dark_primary);
  font-size: 1rem;
  padding: 10px 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: all 0.3s;
  margin-top: -4px;
  color: var(--accent);
}

.submit-btn:hover {
  background-color: hsl(167, 100%, 42%);
  color: #000000;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    Footer   <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.footer {
  text-align: center;
  padding: 1rem;
}

.social-media-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-media-list-item {
  margin: 0.3rem;
  margin: 0.3rem;
}

.social-link {
  padding: 0 0.2rem;
  font-size: 1.3rem;
}

.social-link:hover {
  color: var(--accent);
}

.copy {
  font-size: 0.8rem;
  margin-top: 1rem;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    Responsive     <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media only screen and (max-width: 500px) {
  .section {
    padding: 0 15px;
  }

  .nav-list {
    background-color: var(--bg-dark_primary);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    transition: 0.3s ease;
    transform: translateX(-100%);
  }

  .nav-link {
    border: none;
  }

  .content {
    padding: 0 25px;
  }

  .main-title {
    margin-top: 1rem;
    font-size: 30px;
  }

  .main-title-secondary {
    font-size: 25px;
  }

  .contact-btn {
    font-size: var(--fs-body_small);
    margin: 1rem 0;
    font-weight: 300;
  }

  p {
    font-size: var(--fs-body_small);
    line-height: 1.3;
  }

  .avatar {
    width: 120px;
    height: 120px;
    border: 2px solid #eeeeee;
    margin-bottom: 1em;
  }

  .skill-container {
    display: block;
  }

  .skill {
    max-width: 100%;
    margin-bottom: 0.5em;
  }

  .project {
    width: 100%;
    display: block;
  }

  .tst1, .tst2 {
    flex-direction: column-reverse;
    margin: 20px 0;
  }

  .test-para{
    text-align: left;
  }
}

@media only screen and (min-width: 500px) {
  .menu-btn {
    display: none;
  }
}

.nav-open {
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}
